#!/usr/bin/env bash

function ros_master()
{
  # this is for the wifi dongle
  #export ROS_MASTER_URI=http://$(/sbin/ip -o -4 addr list wlxc46e1f100439 | awk '{print $4}' | cut -d/ -f1):11311
  #this is when plugged into router
  export ROS_MASTER_URI=http://$(/sbin/ip -o -4 addr list enp0s31f6 | awk '{print $4}' | cut -d/ -f1):11311
  #export ROS_MASTER_URI=http://$(hostname -I):11311
  export ROS_IP=$(hostname -I)

  env | grep ROS_MASTER_URI
  env | grep ROS_IP
}


function ssh_up()
{
  ssh up@10.45.10.72
}


function ros_up() 
{
    export ROS_MASTER_URI=http://10.45.10.72:11311
    export ROS_IP=$(hostname -I)

    env | grep ROS_MASTER_URI
    env | grep ROS_IP
}

function ros_local() 
{
    export ROS_MASTER_URI=http://localhost:11311
    export ROS_IP=$(hostname -I)

    env | grep ROS_MASTER_URI
    env | grep ROS_IP
}

function apm_sim()
{
  cd ~/workspaces/ardupilot-fortem/ArduCopter
  ./start_apm_sim.sh
}

function dgc()
{
  cd ~/workspaces/ground-station/target
  ./DGC-*.war
}

function viz_dgc()
{
  google-chrome http://localhost:8083/gc    
}

function run_dh_sim()
{
  terminator -l dh_sim
}

function local_ports()
{
  cd ~/workspaces/anansi_dev_tools/tools
  ./virtual_ports.sh -l
}

function qgc()
{
  cd ~/software/
  ./QGroundControl.AppImage
}

function anansi_start()
{
  cd ~/workspaces/anansi_ros
  rosrun anansi_start anansi_start.sh
}

function qt()
{
  /opt/Qt/Tools/QtCreator/bin/qtcreator 
}

function qtsh()
{
  /opt/Qt/Tools/QtCreator/bin/qtcreator.sh 
}

function vzshrc()
{
  vim ~/.zshrc
}

function szshrc()
{
  source ~/.zshrc
}

function sl()
{
  ls
}

function find_word()
{
  grep -rnw '.' -e "$1"
}

function gmail()
{
  /opt/google/chrome/google-chrome --profile-directory=Default --app-id=pjkljhegncpnkpknbcohdijeoejaedia &
}

function calendar()
{
  /opt/google/chrome/google-chrome --profile-directory=Default --app-id=kjbdgfilnfhdoflbpgamdcdgpehopbep &
}
