#!/usr/bin/env bash
function apm_sim()
{
  cd ~/projects/dronehunter-dev/src/production/ardupilot-fortem/ArduCopter
  ./start_apm_sim.sh
}

function dgc()
{
  cd ~/projects/dronehunter-dev/src/production/ground-station/target
  ./DGC-*.war
}

function viz_dgc()
{
  google-chrome http://localhost:8083/gc    
}

function qgc()
{
  cd ~/software/
  ./QGroundControl.AppImage
}

function anansi_start()
{
  cd ~/projects/dronehunter-dev/anansi_ros
  rosrun anansi_start anansi_start.sh
}

function qt()
{
  /opt/Qt/Tools/QtCreator/bin/qtcreator 
}

function qtsh()
{
  /opt/Qt/Tools/QtCreator/bin/qtcreator.sh 
}

function vzshrc()
{
  vim ~/.zshrc
}

function szshrc()
{
  source ~/.zshrc
}

function find_word()
{
  grep -rnw '.' -e "$1"
}

function detar(){
  tar -xvzf "$1"
  rm "$1"
  cd $(echo "$1"| cut -d'.' -f 1)
}

function retar(){
  tar -cvzf "$1.tgz" "$1"
}

function fix_rosbag(){
  new_bag=$(echo "$1"| cut -d'.' -f 1)".bag"
  echo "Moving $1 -> $new_bag"
  mv $1 $new_bag 
  echo "Reindexing bag: $new_bag..."
  rosbag reindex "$new_bag"
  #echo "Fixing bag..."
  #rosbag fix "$1" $(echo "$1"| cut -d'.' -f 1)".bag"
  echo "Removing currupt bag files..."
  #rm "$1"
  rm $(echo "$1"| cut -d'.' -f 1)".orig.bag"
}

function tracker(){
  sudo bash /opt/tracker/tracker.sh
}

function profile(){
  python3 -m cProfile -o $2 $1
}

extract-all () 
{ 
  NO_FLIGHT_DIR="noFlight";
  if [[ -d "${NO_FLIGHT_DIR}" ]]; then
      echo "grabbing ${NO_FLIGHT_DIR} logs";
      mv -v "${NO_FLIGHT_DIR}"/* .;
      rm -rv "${NO_FLIGHT_DIR}";
  fi;
  echo "current dir: $(pwd)";
  mkdir -p archive;
  for x in *.tgz;
  do
      echo "  $x" && tar -xzf $x && mv $x archive;
  done;
  echo ",extract-all done!";
  ls --color=auto
}


function rkill(){
  ros2 run anansi_start kill_all.sh
}

alias sl='ls'
alias pr='python3 ~/projects/dronehunter-dev/tools/analysis-tools/executables/plot_rosbag'
alias prl='cd ~/ros_logs/latest && pr'
alias pts='python3 ~/projects/dronehunter-dev/tools/analysis-tools/executables/dh_plot_states'
alias dhviz='python3 ~/projects/dronehunter-dev/tools/analysis-tools/executables/dh_viz'
alias netviz='python3 ~/projects/dronehunter-dev/tools/analysis-tools/executables/dh_net_viz'
alias logwiz='python3 ~/projects/dronehunter-dev/tools/anansi_dev_tools/tools/log_wizard/log_wiz_gui.py'
alias plot_apm='python3 ~/projects/dronehunter-dev/tools/analysis-tools/apm_analysis_scripts/plot_apm_log.py'
alias plot_dgc='python3 ~/projects/dronehunter-dev/tools/analysis-tools/dgc_analysis_scripts/plot_dgc.py'
alias plot_dgc_pre_v6='python3 ~/projects/dronehunter-dev/tools/analysis-tools/dgc_analysis_scripts/plot_dgc_pre_v6.py'
alias studio="bash ~/Software/android-studio/bin/studio.sh"

function copyVersionedFile() {
    file_to_copy=${1}
    destination=${2}
    version_line_number=${3}
    file_version_line=$(sed -n ${version_line_number}p ${file_to_copy})
    #first check if file exists
    if test -f "${destination}"; then
        echo "Moving along"
    # file exists so check if it is the same version
        if sudo grep -Fxq ${file_version_line} ${destination}; then
          echo "checking next"
          file_size1=$(ls -l ${file_to_copy} | awk '{print $5}')
          file_size2=$(ls -l ${destination} | awk '{print $5}')
            if [ "$file_size1" = "$file_size2" ]; then
                echo "File ${file_to_copy} is unchanged, not copying"; 
            else 
                echo "Copying ${file_to_copy} to ${destination}. Different size"; 
                cp ${file_to_copy} ${destination}
            fi
        else 
            echo "Copying ${file_to_copy} to ${destination}. Different version"; 
            cp ${file_to_copy} ${destination}
        fi
    else 
        echo "Copying ${file_to_copy} to ${destination}. File doesnt exist"; 
        cp ${file_to_copy} ${destination}
    fi
}

function listDrds(){
  parent_directory=${1}
  drds=$(ls -t ${parent_directory})
  # echo "this is the return ${drds}"

  # readarray -t y <<<"$drds"
  # IFS='\n' read -rd '' -a y array <<< "$drds"
  # IFS=$'\n' read -rd ' ' y <<<"$drds"
  # IFS=$'\n' y=($drds)
  # y=(${drds//$'\n'/ })
  myarray=($drds)
  echo "moving on"
  echo "num elements= ${#myarray[@]}"

  for file in $y
  do
    echo "--> $file"
  done
}

function ssh_() {
  ssh -o UserKnownHostsFile=/dev/null -o StrictHostKeyChecking=no ${1} ${2}
}

function internal_audio() {
  pactl set-default-sink alsa_output.pci-0000_00_1f.3.analog-stereo
  pactl set-default-source alsa_input.pci-0000_00_1f.3.analog-stereo
  echo "ran it" >> testing.log
}

function show_sizes() {
  ls -t | while IFS= read -r dir; do du -sh "$dir"; done
}

function rezip() {
  unzip -Z -1 $1 | xargs -I{} rm -rv {}
}

function log_scraper() {
  python ~/projects/dronehunter-dev/tools/analysis-tools/dh_analysis_scripts/log_scraper/dh_log_scraper.py $1
}

function safe_delete_git_branches() {
  bash ~/projects/ubuntu_hacks/helper_scripts/safe_delete_git_branches.sh
}

alias show_ip="bash ~/projects/ubuntu_hacks/helper_scripts/show_ip_info.bash"

function git_branch_hash() {
  hash=$(git rev-parse HEAD)
  branch=$(git branch -a --contains=$hash | grep "remotes" | grep -vwE "(HEAD)")
  echo "$branch"
  if [[ -z "${branch}" ]]; then
    echo $(git branch -a --contains=$hash) 
  fi
}

function copyright_check() {
  python /home/jacobolson/projects/dronehunter-dev/src/production/anansi_ros/src/tools/ci/ci-tools/code_checks/copyright/check_copyrights.py --apply --files $(git diff --diff-filter=AMR --name-only origin/$1...HEAD)

}

alias ipython="ipython3"
alias cdros="cd ~/projects/dronehunter-dev/src/production/anansi_ros"
alias cdan="cd ~/projects/dronehunter-dev/tools/analysis-tools"

function check_blame_cpp() {
  git ls-files | grep "\.cpp\|\.h" | while read -r file;
  do
    git blame --line-porcelain "$file" 2>/dev/null || continue
  done | awk '/^author /{authors[$2]++} END{for (a in authors) print authors[a], a}' | sort -nr
}

function notify_complete() {
  "$@" && (paplay /usr/share/sounds/freedesktop/stereo/dialog-information.oga && curl -d "build finished" ntfy.sh/jacob_build_notifications) || (paplay /usr/share/sounds/freedesktop/stereo/dialog-error.oga && curl -d "build failed" ntfy.sh/jacob_build_notifications)
}

alias clean_anansi_linker=" export LD_LIBRARY_PATH=$(echo "${LD_LIBRARY_PATH}" | tr ':' '\n' | grep -v "anansi_ros" | paste -sd ':' -)"

alias notify="notify_complete"

alias merge_bag="python ~/projects/dronehunter-dev/tools/anansi_dev_tools/tools/ros2_bag_merge.py"
alias show_wifi_pass="sudo grep -r '^psk=' /etc/NetworkManager/system-connections/"
