#!/usr/bin/env bash

function ros_master()
{
  # this is for the wifi dongle
  #export ROS_MASTER_URI=http://$(/sbin/ip -o -4 addr list wlxc46e1f100439 | awk '{print $4}' | cut -d/ -f1):11311
  #this is when plugged into router
  export ROS_MASTER_URI=http://$(/sbin/ip -o -4 addr list enp0s31f6 | awk '{print $4}' | cut -d/ -f1):11311
  #export ROS_MASTER_URI=http://$(hostname -I):11311
  export ROS_IP=$(hostname -I)

  env | grep ROS_MASTER_URI
  env | grep ROS_IP
}

function ssh_sam_wired()
{
  ssh sam@192.168.0.117
}


function ssh_sam()
{
  ssh sam@192.168.1.169
}


function ros_leo() 
{
    export ROS_MASTER_URI=http://192.168.0.2:11311
    export ROS_IP=$(hostname -I)
    export ROS_NAMESPACE=leo/rtabmap

    env | grep ROS_MASTER_URI
    env | grep ROS_IP
    env | grep ROS_NAMESPACE
}
function ros_kbcar() 
{
    export ROS_MASTER_URI=http://192.168.0.102:11311
    export ROS_IP=$(hostname -I)
    export ROS_NAMESPACE=leo/rtabmap

    env | grep ROS_MASTER_URI
    env | grep ROS_IP
    env | grep ROS_NAMESPACE
}

function rtab_leo() 
{
    export ROS_MASTER_URI=http://192.168.0.2:11311
    export ROS_IP=$(hostname -I)
    export ROS_NAMESPACE=leo/rtabmap

    env | grep ROS_MASTER_URI
    env | grep ROS_IP
    env | grep ROS_NAMESPACE

    rosrun rtabmap_ros rtabmapviz
}

function rtab_nvidia() 
{
    export ROS_MASTER_URI=http://kbcar2.local:11311
    export ROS_IP=$(hostname -I)
    export ROS_NAMESPACE=rtabmap

    env | grep ROS_MASTER_URI
    env | grep ROS_IP
    env | grep ROS_NAMESPACE

    rosrun rtabmap_ros rtabmapviz
}

function ros_local() 
{
    export ROS_MASTER_URI=http://localhost:11311
    export ROS_IP=$(hostname -I)

    env | grep ROS_MASTER_URI
    env | grep ROS_IP
}

function ssh_leo()
{
    ssh leo@192.168.1.26
}

function ssh_kbcar()
{
    ssh nvidia@kbcar2.local
}

function qt()
{
  /opt/Qt/Tools/QtCreator/bin/qtcreator 
}

function qtsh()
{
  /opt/Qt/Tools/QtCreator/bin/qtcreator.sh 
}

function push()
{
  git push origin master
}

function vbashrc()
{
  vim ~/.bashrc
}

function sbashrc()
{
  source ~/.bashrc
}

function szshrc()
{
  source ~/.zshrc
}

function sl()
{
  ls
}

function find_word()
{
  grep -rnw '.' -e "$1"
}
